if POLDKEY_DONGLE

# Max 16 characters in keyboard name
config ZMK_KEYBOARD_NAME
    default "PoldKey Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# Limit BLE host connections and pairing slots
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

# Force roles: central on, peripheral off
config BT_CENTRAL
    default y

config BT_PERIPHERAL
    default n

endif