
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;

    };

    default_kscan: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 1 GPIO_ACTIVE_HIGH>
            , <&pro_micro 0 GPIO_ACTIVE_HIGH>
            , <&pro_micro 2 GPIO_ACTIVE_HIGH>
            , <&pro_micro 3 GPIO_ACTIVE_HIGH>
            , <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

        default_transform: matrix_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <9>;
// | MX_1  | MX_2  | MX_3  | MX_4  | MX_5  | MX_6  | MX_7  | MX_8  | MX_9  | MX_10 | MX_11 | MX_12 | MX_13 | MX_68 | MX_64 
// | MX_66 | MX_14 | MX_15 | MX_16 | MX_17 | MX_18 | MX_19 | MX_20 | MX_21 | MX_22 | MX_23 | MX_24 | MX_25 | MX_69 | MX_63 
// | MX_65 | MX_26 | MX_27 | MX_28 | MX_29 | MX_30 | MX_32 | MX_33 | MX_34 | MX_35 | MX_36 | MX_37 | MX_38 | MX_31 
// | MX_62 | MX_39 | MX_40 | MX_41 | MX_42 | MX_43 | MX_44 | MX_45 | MX_46 | MX_47 | MX_48 | MX_49 | MX_67 | MX_51 
// | MX_55 | MX_56 | MX_57 | MX_54 | MX_58 | MX_59 | MX_60 | MX_61 | MX_52 | MX_50 | MX_53 
        map = <
    RC(0,0) RC(1,0) RC(2,0) RC(3,0) RC(4,0) RC(5,0) RC(6,0) RC(7,0) RC(8,0) RC(8,1) RC(7,1) RC(6,1) RC(5,1) RC(4,7) RC(0,7) 
    RC(2,7) RC(4,1) RC(3,1) RC(2,1) RC(1,1) RC(0,1) RC(8,2) RC(7,2) RC(6,2) RC(5,2) RC(4,2) RC(3,2) RC(2,2) RC(5,7) RC(8,6) 
    RC(1,7) RC(1,2) RC(0,2) RC(8,3) RC(7,3) RC(6,3) RC(4,3) RC(3,3) RC(2,3) RC(1,3) RC(0,3) RC(8,4) RC(7,4) RC(5,3) 
    RC(7,6) RC(6,4) RC(5,4) RC(4,4) RC(3,4) RC(2,4) RC(1,4) RC(0,4) RC(0,5) RC(1,5) RC(2,5) RC(3,5) RC(3,7) RC(5,5) 
    RC(0,6) RC(1,6) RC(2,6) RC(8,5) RC(3,6) RC(4,6) RC(5,6) RC(6,6) RC(6,5) RC(4,5) RC(7,5) 
        >;
    };

};